In [23]:
import requests
import pandas as pd

In [42]:
api_key = "tBAlcLuvA82i6bNebj5J179qUaNzOkA3g5loPecg"
url = "https://api.congress.gov/v3/"

def get_bill_cosponsors(bill_type, bill_number, congress):
    endpoint = f"bill/{congress}/{bill_type}/{bill_number}/cosponsors"
    params = {
        "api_key": api_key
    }
    response = requests.get(url + endpoint, params=params)
    #return response.json()['cosponsors']
    cosponsors = response.json()['cosponsors']
    df_cosponsors = pd.DataFrame(cosponsors, columns=['firstName', 'lastName', 'party'])
    df_cosponsors['type'] = 'cosponsor'
    df_cosponsors['bill'] = bill_type + bill_number
    return df_cosponsors


def get_bill_sponsors(bill_type, bill_number, congress):
    endpoint = f"bill/{congress}/{bill_type}/{bill_number}"
    params = {
        "api_key": api_key
    }
    response = requests.get(url + endpoint, params=params)
    sponsors = response.json()['bill']['sponsors']
    df_sponsors = pd.DataFrame(sponsors, columns=['firstName', 'lastName', 'party'])
    df_sponsors['type'] = 'sponsor'
    df_sponsors['bill'] = bill_type + bill_number
    return df_sponsors


def get_bill_info(bill_type, bill_number, congress):
    df_cosponsors = get_bill_cosponsors(bill_type, bill_number, congress)
    df_sponsors = get_bill_sponsors(bill_type, bill_number, congress)
    df = pd.concat([df_cosponsors, df_sponsors])
    return df

In [40]:
get_bill_cosponsors("hr", "2530", "118")

   firstName        lastName party       type    bill
0       Sara          Jacobs     D  cosponsor  hr2530
1      LLOYD         DOGGETT     D  cosponsor  hr2530
2       Mark          Takano     D  cosponsor  hr2530
3      BETTY        MCCOLLUM     D  cosponsor  hr2530
4       Mike         Quigley     D  cosponsor  hr2530
5       Mark           Pocan     D  cosponsor  hr2530
6      Kathy          Castor     D  cosponsor  hr2530
7      Grace            Meng     D  cosponsor  hr2530
8    Adriano       Espaillat     D  cosponsor  hr2530
9      Jared         Huffman     D  cosponsor  hr2530
10     NYDIA       VELAZQUEZ     D  cosponsor  hr2530
11      ADAM           SMITH     D  cosponsor  hr2530
12     Katie          Porter     D  cosponsor  hr2530
13     Robin           Kelly     D  cosponsor  hr2530
14     Steve           Cohen     D  cosponsor  hr2530
15   Suzanne        Bonamici     D  cosponsor  hr2530
16      Gwen           Moore     D  cosponsor  hr2530
17    Jamaal          Bowman     D  cosponsor  hr2530
18     Terri          Sewell     D  cosponsor  hr2530
19      Raja  Krishnamoorthi     D  cosponsor  hr2530

In [41]:
get_bill_sponsors("hr", "2530", "118")

  firstName    lastName party     type    bill
0    JANICE  SCHAKOWSKY     D  sponsor  hr2530

In [43]:
get_bill_info("hr", "2530", "118")

   firstName        lastName party       type    bill
0       Sara          Jacobs     D  cosponsor  hr2530
1      LLOYD         DOGGETT     D  cosponsor  hr2530
2       Mark          Takano     D  cosponsor  hr2530
3      BETTY        MCCOLLUM     D  cosponsor  hr2530
4       Mike         Quigley     D  cosponsor  hr2530
5       Mark           Pocan     D  cosponsor  hr2530
6      Kathy          Castor     D  cosponsor  hr2530
7      Grace            Meng     D  cosponsor  hr2530
8    Adriano       Espaillat     D  cosponsor  hr2530
9      Jared         Huffman     D  cosponsor  hr2530
10     NYDIA       VELAZQUEZ     D  cosponsor  hr2530
11      ADAM           SMITH     D  cosponsor  hr2530
12     Katie          Porter     D  cosponsor  hr2530
13     Robin           Kelly     D  cosponsor  hr2530
14     Steve           Cohen     D  cosponsor  hr2530
15   Suzanne        Bonamici     D  cosponsor  hr2530
16      Gwen           Moore     D  cosponsor  hr2530
17    Jamaal          Bowman     D  cosponsor  hr2530
18     Terri          Sewell     D  cosponsor  hr2530
19      Raja  Krishnamoorthi     D  cosponsor  hr2530
0     JANICE      SCHAKOWSKY     D    sponsor  hr2530